<!DOCTYPE html>
<html>
<head>
<title>New Post</title>
</head>
	<body>
		<form action="/submit_post" method="POST">
			<label for="content"><h1>Make a post!</h1></label>
			<label for="title">Title:</label>
			<input type="text" id="title" name="title">
			<label for="author">Author:</label>
			<input type="text" id="author" name="author">
			<label for="category">Category</label>
			<input type="text" id="category" name="category">
			<br>
			<br>
			<input type="text" id="content" name="content">
			<button type="submit" name="btn" value="copy">submit</button>
		</form>
	</body>
</html>