<p><%= @text %></p>

<h1>You typed <%= @word_count %> words.</h1>

<h1>It will take your average reader <%= @minutes %> minutes to read this!</h1>

<h1>Most frequently used words: <%= @words_top_ten %>.</h1> 

<a href="/">Home Page</a>