<div class="page-header">
<% if user_signed_in? %>
	<h2>Welcome <%= current_user.name %>!</h2>
	<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
<% else %>
	<%= link_to 'Login', new_user_session_path, method: 'GET' %>
<% end %>
  <h1>Concert Network <small>The best place to find concerts!</small></h1>
</div>