// Place all the styles related to the emotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #f6edde !important;
}

#header-image {
	width: 100%;
}

.AScontainer {
		margin:2em 0 6em 0;
		background-repeat: no-repeat, no-repeat;
		background-position: left, right;
		background-size:contain;
		padding: 0 75px 0 75px;
}
.arousal {
	background-image: url(), url();
	background-size:contain;
}
.pleasure {
	background-image: url(), url();
	background-size:contain;
}
.AffectiveSlider input {
	/* Hide the number input */
	display: none;
}
.AffectiveSlider .ui-slider-track {
	margin-left: 15px;
	background-color:#FFF;
	border-color:#000;
}
.AffectiveSlider .ui-slider-handle {
	background-color:#FFF;
	border-color:#000;
}
.ASintensityCue {
	margin: 0 15px 0 15px;
	height:48px;
	background-image: url("gradient.svg");
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;	
}
.dial {
	background-image: url("clock.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: -14px;
	left: -100px;
	padding: 20px;
	margin: 30px;
	margin-left: 130px;
}

.dial-color-month {
	background-image: url("clock-color.svg");
}

.dial-color-week {
	background-image: url("clock-color.svg");
}

.dial img {
	position: relative;
	right: 20px;
	bottom: 20px;
}

progress[value] {
	-webkit-appearance: none;
  appearance: none;

  	position: absolute;
    top: 42%;
    right: -50px;
    width: 400px;
    height: 75px;
    transform: rotate(270deg);
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.25) inset;
  border: 5px solid #6A6969;
}

progress[value]::-webkit-progress-value {
	background-color: #5E5B5B;
	border-radius: 2px;
}

.color-version {
	background-color: #ff9b6b;
	border: 10px solid #1e1c1c;
}

#prog-color[value]::-webkit-progress-value {
	background-color: #5ad40b;
	border-radius: 2px;
}

#prog-color[value]::-webkit-progress-bar {
	border-color: #1e1c1c;
}

#prog-color-week[value]::-webkit-progress-value {
	background-color: #5ad40b;
	border-radius: 2px;
}

#prog-color-week[value]::-webkit-progress-bar {
	border-color: #1e1c1c;
}

.inline {
	display: inline-block;
}

.clock-prog {
	position: relative;
	border: 10px solid #6a6969;
	box-sizing: border-box;
	width: 750px;
	height: 500px;
	border-radius: 15px;
	float: right;
}

.ct-series-a .ct-area {
    fill: #F1560C;
    fill-opacity: .4;
}

.ct-series-b .ct-area {
    fill: #08A26C;
    fill-opacity: .4;
}
